body {
    padding: 1rem;
}

#recipeContainer h2 {
    display: grid;
    grid-template-columns: 300px 300px;
    padding: 0.3rem;
}

.hidden {
    display: none;
    padding: 1rem 0;
}

h2 {
    font-size: 1rem;
    padding: 1rem 0;
}

.hiddenResponsive {
    display: none;
    padding: 1rem 0;
}

li {
    padding: 0.3rem 0;
}